.auth-overlay {
  background-image: @auth-overlay;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.auth-card {
  display: flex;
  flex-direction: row;
  box-shadow: -6px 2px 9px rgba(0, 0, 0, 0.3), 7px 5px 14px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  .image-side {
    width: 60%;
    background: url(../../statics/images/login/pic.jpg) no-repeat top;
    background-size: cover;
    background-position: top center;
  }
  .form-side {
    width: 40%;
    padding: 5rem 55px;
  }
  h3 {
    padding-top: 20px;
    padding-bottom: 5rem;
    font-weight: normal;
    font-size: 2.1rem;
  }
  .switch-language-toggle {
    margin: 14px;
  }
}

.auth-control {
  border-radius: 5rem !important;
  .input-group-border {
    height: 27px;
    position: absolute;
    width: 1px;
    background: @alto;
    top: 10px;
    left: 38px;
    right: auto;
  }
  .input-group .input-group-addon {
    // padding: 1rem !important;
    &.input-group-btn {
      border-left: 0 !important;
    }
  }
}

.input-group .input-group-addon.input-group-btn {
  border-left: 0 !important;
}

.input-group .input-group-addon {
  padding: 0.9rem !important;
}

.auth-feedback {
  height: 16px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-image: url(../../statics/images/login/bubble.png);
  cursor: pointer;
}

.btn-auth {
  border-radius: 3rem !important;
  font-size: 12px;
}

.captcha-refresh {
  transform: rotateY(180deg);
}

@media (max-width: 1200px) {
  .auth-card {
    flex-direction: column;
  }
  .auth-card .form-side,
  .auth-card .image-side {
    width: 100%;
  }
  .auth-card .form-side {
    padding: 60px;
  }
  .auth-card .image-side {
    height: 300px;
    background-position: center;
  }
  .captcha {
    width: 60%;
  }
}

@media (max-width: 575px) {
  .auth-card {
    flex-direction: column !important;
  }
  .auth-card .form-side,
  .auth-card .image-side {
    padding: 35px 30px;
  }
}
