.car_component_div{
    text-align: center;
}
.input{
   width: 150px;
   height: 60px;
   margin: 20px;

}
.add_car_component_div{
    // background-color: antiquewhite;
    height: 100px;
    display: inline-block;
}
.add-car-div{
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    // background-color: antiquewhite;
}

// table
table.products-table {
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    box-shadow: 0 0 25px #aaa;
    margin: 4rem 0;
    width: 100%;
  }
  
  th {
    background-color: #fff;
    font-weight: normal;
    border-bottom: 1px solid #d1d1d1;
  }
  
  th,
  td {
    line-height: 1.5;
    padding: 2.5rem 1rem;
    text-align: center;
  }
  
  td {
    background-color: white;
  }
  
  td:first-child {
    font-weight: bold;
    text-align: left;
  }
  
  tbody tr:nth-child(odd) td {
    background-color: #f6f6f6;
  }
  
  // thead th:first-child {
  //     border-top-left-radius: 10px;
  //     text-align: left;
  // }
  
  // thead th:last-child {
  //     border-top-right-radius: 10px;
  // }
  
  // tbody tr:last-child td:first-child {
  //   border-bottom-left-radius: 10px;
  // }
  
  // tbody tr:last-child td:last-child {
  //   border-bottom-right-radius: 10px;
  // }
  
  /* Stack rows vertically on small screens */
  @media (max-width: 30rem) {
    /* Hide column labels */
    // thead tr {
    //   position: absolute;
    //   top: -9999rem;
    //   left: -9999rem;
    // }
  
    // tbody tr td {
    //   border-radius: none;
    //   text-align: left;
    // }
  
    // tbody tr:first-child td:first-child {
    //   border-top-left-radius: 10px;
    //   border-top-right-radius: 10px;
    // }
    // tbody tr:last-child td:last-child {
    //   border-bottom-left-radius: 10px;
    //   border-bottom-right-radius: 10px;
    // }
  
    /* Leave a space between table rows */
    tr + tr td:first-child {
      border-top: 1px solid #d1d1d1;
    }
  
    /* Get table cells to act like rows */
    tr,
    td {
      display: block;
    }
  
    td {
      border: none;
      /* Leave a space for data labels */
      padding-left: 50%;
    }
  
    /* Data labels */
    td:before {
      content: attr(data-label);
      display: inline-block;
      font-weight: bold;
      line-height: 1.5;
      margin-left: -100%;
      width: 100%;
    }
  }
  select option[value="0"] {
    background: rgba(0, 0, 0, 0.3);
  }

  select option[value="1"] {
    background: rgba(255, 0, 0, 0.3);
  }
  select option[value="2"] {
    background: rgba(251, 255, 0, 0.3);
  }
  select option[value="3"] {
    background: rgba(30, 255, 0, 0.3);
  }
  .car-color{
    width: 10px;
    height: 10px;
  }
  .red{
    background-color: red;
    color: black;
  }
  .green{
    color: black;
    background-color: green;
  }
  .yellow{
    color: black;
    background-color: yellow;
  }
  .btn_change{
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: solid 2px rgba(119, 119, 119, 0);
    margin: 5px;
  }
  .btn_change:hover{
    text-decoration: underline;
    color: #1a0dab;

  }
  .dialog{
    width: 850px;
    height: 400px;
    z-index: 2;
    background-color: rgb(203, 231, 255);
    position: absolute;
    display: none;
    box-shadow: #aaa;
    padding: 30px;
  }
  .p_dialog{
    font-size: large;
    color: black;
  }