.dynamicReport-table {
    border-radius: 1rem;
    box-shadow: 0px 0px 15px -10px;
}

.centerDatePicker {
    &>input {
        text-align: center !important;
    }
}
.leftDatePicker > dp-date-picker > div > div {
    &>input {
        text-align: left !important;
    }
}

.switch {
    outline: 0 !important;
}

.clearFilter {
    color: #0288d1;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 100;
}

.export-header{
    position: relative;
    height: 100px;
    background-color: #ffca05;
}
.export-logo {
    width: 100%;
}
.export-logo-pdf{
    width: 60px;
    position: absolute;
    bottom: -10rem;
    left: 5rem;
    z-index: 9999;
}
.dynamicReport-picker {
    background-color: #fbfbfb !important;
    &> li {
        &:hover {
        background-color: #f3f3f3 !important;
       }

    }
}
.mtn-curve {
    position: absolute;
    bottom: -11px;
}

.report-tooltip {
    position: relative;
    // display: inline-block;
    opacity: 1 !important;
  }

  .report-tooltip .tooltipText {
    visibility: hidden;
    background-color: #555;
    color: #ffffff;
    text-align: center;
    border-radius: 0.3rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.2rem;
  }

  .report-tooltip .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .report-tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }
.filtersLIst {
    // direction: ltr;
    background-color: #f5f5f5;
    padding: 1rem;
    margin-left: .3rem;
    margin-right: .3rem;
    display: inline-block;
    margin-bottom: .5rem;
}
.width-10 {
    flex-shrink: 0;
    width: 17rem;
}
.report-count {
    padding: 0 4rem;
    font-size: 1.6rem;
    color: #888888 !important
}
.help-text {
    background-color: #fef0b3;
    padding: 2rem 1rem;
    color: #000;
}
.warning-text {
    background-color: #fef0b3;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: black;
}
.filter-table > thead > th {
    padding: 1.5rem 0.5rem !important;
}
// tooltip pdf

.report-tooltip .tooltipText-view {
    visibility: hidden;
    background-color: #a2a2a2;;
    color: #ffffff;
    text-align: center;
    border-radius: 0.3rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.2rem;
    width: 27rem;
  }

  .report-tooltip .tooltipText-view::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .report-tooltip:hover .tooltipText-view {
    visibility: visible;
    opacity: 1;
  }

  ///
  .report-tooltip {
    position: relative;
    // display: inline-block;
    opacity: 1 !important;
  }

  .report-tooltip .tooltipText-down {
    visibility: hidden;
    background-color: #555;
    color: #ffffff;
    text-align: center;
    border-radius: 0.3rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.2rem;
  }

  .report-tooltip .tooltipText-down::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color:  transparent transparent #555 transparent;
  }

  .report-tooltip:hover .tooltipText-down {
    visibility: visible;
    opacity: 1;
  }
  @media screen and (min-width: 460px) {
    .view-export{
      max-width: calc(100vw - 12rem);
    }
  }
