.chart-gauge-container {
  width: 100%;
  height: 187px;
  display: flex;
  justify-content: flex-end;
}

.highcharts-data-table table {
  width: 600px;
  margin: 0 auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

@media (max-width: 600px) {
  .highcharts-data-table table {
    width: 100%;
  }

  .chart-container {
    width: 300px;
    float: none;
    margin: 0 auto;
  }

}

.switch-time {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.switch-time input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-time label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  user-select: none;
}

.switch-time label:hover {
  cursor: pointer;
}

.switch-time input:checked + label {
  background-color: #FFBE00;
  box-shadow: none;
}

.switch-time label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-time label:last-of-type {
  border-radius: 0 4px 4px 0;
}

/* This is just for CodePen. */

.form {
  max-width: 600px;
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-weight: normal;
  line-height: 1.625;
  margin: 8px auto;
  padding: 16px;
}

h2 {
  font-size: 18px;
  margin-bottom: 8px;
}
