.left-monitoring {
  left: 2%;
}
.right-monitoring {
  right: 2%;
}
.monitoring-rtl {
  position: relative;
  margin-right: 1.5rem;
  &::before {
    content: "";
    position: absolute;
    border: 1px solid #777777;
    border-radius: 10px;
    height: 1.8rem;
    right: -26%;
  }
}
.monitoring-ltr {
  position: relative;
  margin-right: 0.5rem;
  &::before {
    content: "";
    position: absolute;
    border: 1px solid #777777;
    border-radius: 10px;
    height: 1.8rem;
    left: -15%;
  }
}
.secend-icon-rtl {
  width: 4%;
  position: absolute;
  right: 7%;
  top: 1.5rem;
}
.secend-icon-rtl2 {
  width: 5%;
  position: absolute;
  right: 9%;
  top: 1.5rem;
}

.numberInput {
  & > input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  & > input[type="number"] {
    -moz-appearance: textfield;
  }
}

.monitoring-checkbox {
  display: block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #9f9f9f;
  font-size: 1.5rem;
}
.monitoring-checkbox {
  input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}
.checkmark {
  position: absolute;
  top: 0.3rem;
  left: 0px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 0.3rem;
  border: 0.2rem solid #fc0;
}
/* On mouse-over, add a grey background color */

/* When the checkbox is checked, add a blue background */
.monitoring-checkbox input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.monitoring-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.monitoring-checkbox .checkmark:after {
  left: 4px;
  top: 0px;
  width: 7px;
  height: 13px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.monitoring-title {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0;
  margin-top: 1.2rem;
}
