.c-pie-container {
  background-color: #fff;
  height: auto;
  padding: 5px;

  .text {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    width: 100%;
    padding-bottom: 2.3rem;
  }

  button {
    //background-color: #507B96 !important;
    transition: 100ms ease-in-out;
    // border: 1px solid #cccccc;
    //border-radius: 0 !important;
    :hover {
      background-color: #3d6178;
      transition: 100ms ease-in-out;
    }
  }
}

.chart-pie-container {
  height: 200px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
