.checkbox-container {
  background: transparent;
  height: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.playpause-chk {
  appearance: none;
  width: 4rem;
  height: 4rem;
  outline: 0;
  border: 0;
  cursor: pointer;
  &:checked + label {
    display: block;
    height: 1.2rem;
    width: 0;
    border-width: 0;
    background: transparent;
    border-right: 10px double #5aa04b;
    transition: 0.1s transform ease;
    position: absolute;
    transform: rotate(180deg);
    cursor: pointer;
  }

  + label {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 13px 8px;
    border-color: transparent transparent #e57373 transparent;
    transform: rotate(90deg);
    transition: 0.1s transform ease;
    cursor: pointer;
  }
}

.playpause-chk-icon {
  appearance: none;

  + label::before {
    content: "❚❚";
    display: block;
    font-size: 30px;
    position: relative;
    color: #130f40;
    transition: 0.1s transform ease;
    transform: rotate(-180deg);
    position: absolute;
  }

  &:checked + label::before {
    content: "►";
    transform: rotate(0);
  }
}