// main: ../../styles.less
#sidebar-container {
  min-width: 0;
  //transition: all 100ms ease-in-out !important;
  aside {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: @sidebar;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

    .brand {
      background-color: transparent;
      height: 6.5rem;
      overflow: hidden;

      .logo {
        img {
          height: 6rem;
        }
      }

      .name {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: @color-primary;
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: capitalize;

        .preview-hint {
          width: 100%;
          display: block;
          text-align: inherit;
          font-size: 1.2rem;
          font-weight: normal;
          opacity: 0.6;

          .icon {
            font-size: 1.2rem;
          }
        }
      }

      &:hover .preview-hint {
        opacity: 1;
      }
    }

    nav {
      margin: 0 auto;
      width: 100%;
      overflow-y: auto;
      padding-top: 0.4rem;
      .scrollbar();

      ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          //width: 90%;
          text-align: left;

          .icon {
            font-size: 2.2rem;
            color: @white;
            padding-right: 1rem;
          }

          [class*="-title"] {
            width: 100%;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 1.3rem 2rem;
            position: relative;
            text-decoration: none;
            cursor: pointer;
            color: @white;

            &:hover,
            &.active {
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0.5rem;
                height: 100%;
                background-color: @pistachio;
              }
            }

            &.active {
              .icon {
                color: @pistachio;
              }

              box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

              &:not(.cat-title) {
                color: @boulder;
                font-weight: bold;
                background-color: @gallery;
              }
            }

            &.active-route {
              color: @sidebar;

              .icon {
                color: @sidebar;
              }

              background-color: @pistachio;
            }
          }

          .cat-title {
            padding-right: 4rem;

            &::after {
              content: "\e901";
              font-family: "icomoon" !important;
              width: 2rem;
              height: 2rem;
              line-height: 2rem;
              font-size: 1.5rem;
              text-align: center;
              color: @white;
              position: absolute;
              right: 1.5rem;
              top: 0;
              bottom: 0;
              margin: auto;
              transform: rotate(180deg);
              .advance-transition(~"all 200ms ease-out");
            }

            &.active {
              & + .nav-sub {
                max-height: 100rem;
              }

              &::after {
                transform: rotate(0deg) !important;
              }
            }
          }

          .nav-sub {
            overflow: hidden;
            max-height: 0;

            li {
              .icon {
                color: @bright-black;
              }
            }

            .nav-title {
              padding-left: 3.5rem;

              &.active {
                //background-color: @alto;
              }

              &.active-route {
                color: @sidebar;
              }

              &.badge {
                background-color: #c90000;
                color: white;
                padding: 0.4rem;
              }
            }

            .advance-transition(~"all 300ms ease-in-out");
          }
        }
      }
    }
  }

  @media @sm {
    aside {
      width: 30rem;
    }

    position: fixed;
    width: auto;
    min-width: 0 !important;
    max-width: 0;
    z-index: 100;
    overflow: hidden;
    .advance-transition(~"max-width 400ms ease-in-out");
    &.visible {
      max-width: 35rem;
    }
  }
}

.open-sidebar {
  min-width: 25rem !important;

  .cat-title span {
    //transition: all 200ms !important;
    display: initial !important;
  }

  .nav-title span {
    //transition: all 200ms !important;
    display: initial !important;
  }
}
