// main: ../../styles.less

@width: 70px;
@edge: 2px;
@radius: 5px;

@height: @width/2;
@margin: (60px-@height
)
/
2
;
@handler-radius: @radius/2;
@labels-position: @width/4-@labels-font-size/2-@edge;
@labels-font-size: @width/5;

@normal-color: @sidebar;
@checked-color: @sidebar;
@handler-color: @white;

.switch-language-toggle {
  margin: @margin auto;
  width: @width;
  height: @height;
  position: relative;
  overflow: hidden;
  line-height: @height+2;
  z-index: 0;

  input {
    display: none;

    &:checked {
      & + .toggle {
        // background: @checked-color;
        &:before {
          color: @handler-color;
        }

        &:after {
          color: @checked-color;
        }

        .toggle-handler {
          -webkit-transform: translateX((@width/2)-@edge);
          transform: translateX((@width/2)-@edge);
          border-color: @handler-color;
        }
      }
    }
  }

  .toggle {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    text-align: left;
    cursor: pointer;
    .liner-gradient(right, @normal-color, @checked-color);
    border-radius: @radius;
    -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &:after, &:before {
      position: absolute;
      font-size: @labels-font-size;
      font-weight: bold;
      z-index: 2;
      -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    &:after {
      content: "فا";
      right: @labels-position;
      color: @handler-color;
    }

    &:before {
      content: "EN";
      left: @labels-position;
      color: @normal-color;
    }
  }

  .toggle-handler {
    width: (@width/2)-@edge;
    height: (@height)-@edge*2;
    display: inline-block;
    position: relative;
    top: @edge;
    left: @edge;
    z-index: 1;
    background: @handler-color;
    border-radius: @handler-radius;
    -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
