.tooltip {
  position: relative;
  background-color: #ffffff;
  border-radius: 2px;

  color: #444;
  padding: 1rem;
  font-size: 1.1rem;
  width: 100%;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
  svg {
    width: 2rem;
  }
  ul {
    list-style: none;
  }
  li {
    margin: 0 0.5rem;
  }
  li::before {
    content: "";
    border: 1px solid #444;
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    display: inline-block;
    margin: 0 0.5rem;
  }
}
