<div #chart class="chart-gauge-container"></div>
<div *ngIf="showButtons && node_enabled" class="row justify-content-center">
  <div class="col-auto">
    <div class="switch-time">
      <input
        (click)="_selectTime(uniqueID + '_select-second', uniqueID, 'second')"
        *ngIf="
          uniqueID === 'ping' ||
          uniqueID === 'jitter' ||
          uniqueID === 'ram-free' ||
          uniqueID === 'cpu-usage' ||
          uniqueID === 'packet-loss' ||
          uniqueID === 'temperutre'
        "
        [id]="uniqueID + '_select-second'"
        [name]="uniqueID + '_time'"
        [value]="uniqueID + 'second'"
        checked
        class="custom-control-input"
        type="radio"
      />
      <label
        *ngIf="
          uniqueID === 'ping' ||
          uniqueID === 'jitter' ||
          uniqueID === 'ram-free' ||
          uniqueID === 'cpu-usage' ||
          uniqueID === 'packet-loss' ||
          uniqueID === 'temperutre'
        "
        [for]="uniqueID + '_select-second'"
        class="custom-control-label"
        [ngStyle]="{
          'font-size':
            uniqueID === 'ram-free' ||
            uniqueID === 'cpu-usage' ||
            uniqueID === 'temperutre'
              ? '7px'
              : '10px'
        }"
        >{{ "last-ping" | translate }}</label
      >
      <!-- <input
        (click)="
          _selectTime(
            uniqueID + '_select-1-hour-last',
            uniqueID,
            'last_one_hour'
          )
        "
        *ngIf="uniqueID == 'packet-loss'"
        [id]="uniqueID + '_select-1-hour-last'"
        [name]="uniqueID + '_time'"
        [value]="uniqueID + 'one_hour'"
        class="custom-control-input"
        type="radio"
      />
      <label
        *ngIf="uniqueID == 'packet-loss'"
        [for]="uniqueID + '_select-1-hour-last'"
        class="custom-control-label"
        >{{ "last-1-hour" | translate }}</label
      > -->
      <input
        (click)="_selectTime(uniqueID + '_select-day', uniqueID, 'daily')"
        [id]="uniqueID + '_select-day'"
        [name]="uniqueID + '_time'"
        [value]="uniqueID + 'day'"
        class="custom-control-input"
        type="radio"
      />
      <label
        [for]="uniqueID + '_select-day'"
        class="custom-control-label"
        [ngStyle]="{
          'font-size':
            uniqueID === 'ram-free' ||
            uniqueID === 'cpu-usage' ||
            uniqueID === 'temperutre'
              ? '7px'
              : '10px'
        }"
        >{{ "daily" | translate }}</label
      >
      <input
        (click)="_selectTime(uniqueID + '_select-month', uniqueID, 'monthly')"
        [id]="uniqueID + '_select-month'"
        [name]="uniqueID + '_time'"
        [value]="uniqueID + 'month'"
        class="custom-control-input"
        type="radio"
      />
      <label
        [for]="uniqueID + '_select-month'"
        class="custom-control-label"
        [ngStyle]="{
          'font-size':
            uniqueID === 'ram-free' ||
            uniqueID === 'cpu-usage' ||
            uniqueID === 'temperutre'
              ? '7px'
              : '10px'
        }"
        >{{ "monthly" | translate }}</label
      >
      <input
        (click)="modal.getModal(uniqueID + '_custom-time').open()"
        [id]="uniqueID + '_custom-time'"
        [name]="uniqueID + '_time'"
        [value]="uniqueID + 'custom time'"
        class="custom-control-input"
        type="radio"
      />
      <label
        [for]="uniqueID + '_custom-time'"
        class="custom-control-label"
        [ngStyle]="{
          'font-size':
            uniqueID === 'ram-free' ||
            uniqueID === 'cpu-usage' ||
            uniqueID === 'temperutre'
              ? '7px'
              : '10px'
        }"
        >{{ "custom-time" | translate }}</label
      >
    </div>
  </div>
</div>
<ngx-smart-modal [closable]="false" [identifier]="uniqueID + '_custom-time'">
  <div class="row form-group">
    <div class="col-lg-6">
      <div class="row">
        <label class="col-lg-12 form-label-inline" for="startDate"
        >{{ "start-date" | translate }}:</label
        >
        <div class="col-lg-12">
          <ng-date-picker
            (onChangeDate)="setTimeSearch($event, 'startDate')"
            [default]="defaultStart"
            id="startDate"
            uniqID="startDate"
          ></ng-date-picker>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <label class="col-lg-12 form-label-inline" for="endDate"
        >{{ "end-date" | translate }}:</label
        >
        <div class="col-lg-12">
          <ng-date-picker
            (onChangeDate)="setTimeSearch($event, 'endDate')"
            [default]="defaultEnd"
            id="endDate"
            uniqID="endDate"
          ></ng-date-picker>
        </div>
      </div>
    </div>
  </div>
  <button
    (click)="
      _selectTime(uniqueID + '_custom-time', uniqueID, 'custom');
      modal.getModal(uniqueID + '_custom-time').close()
    "
    class="btn btn-primary"
  >
    {{ "submit" | translate }}
  </button>
  <button
    (click)="closeModal()"
    class="btn btn-danger"
  >
    {{ "forms.cancel" | translate }}
  </button>
</ngx-smart-modal>
