<section id="custom-points-modal" class="modal animate" style="--color: {{ color }}">
  <div class="overlay" close></div>
  <div class="wrapper" style="width: 60rem;">

    <div class="card-body">
      <form class="row">
        <div class="col-12">
          <div class="form-group">
            <input class="form-control" type="text" name="label" max="30" placeholder="{{ #i18n }}custom-points.label{{ /i18n }}" value="{{ label }}">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <input class="form-control" type="number" name="latitude" min="-90" max="90" step="any" placeholder="{{ #i18n }}custom-points.latitude{{ /i18n }}" value="{{ latitude }}" required>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <input class="form-control" type="number" name="longitude" min="-180" max="180" step="any" placeholder="{{ #i18n }}custom-points.longitude{{ /i18n }}" value="{{ longitude }}" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row form-group">
            <div class="col-auto">
              <div class="form-label-inline">{{ #i18n }}custom-points.color{{ /i18n }}:</div>
            </div>
            <div class="col">
              <input class="form-control w-100" type="color" name="color" placeholder="{{ #i18n }}custom-points.color{{ /i18n }}" value="{{ color }}">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row form-group">
            <div class="col-auto">
              <div class="form-label-inline">{{ #i18n }}custom-points.icon{{ /i18n }}:</div>
            </div>
            {{ #icons }}
            <div class="col-auto pb text-center">
              <input id="shape-{{ . }}" class="shape-picker" type="radio" name="icon" value="{{ . }}" {{ icon }}>
              <label for="shape-{{ . }}" class="btn btn-secondary">
                <div class="icon {{ . }}"></div>
              </label>
            </div>
            {{ /icons }}
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <textarea class="form-control" type="text" name="comment" rows="3" maxlength="200" placeholder="{{ #i18n }}custom-points.comment{{ /i18n }}">{{ comment }}</textarea>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-6 col-md">
          <button class="btn btn-primary w-100" type="submit">{{ #i18n }}custom-points.update{{ /i18n }}</button>
        </div>
        <div class="col-6 col-md-auto">
          <button class="btn btn-danger w-100" type="button" delete>{{ #i18n }}custom-points.delete{{ /i18n }}</button>
        </div>
        <div class="col-6 col-md-auto">
          <button class="btn btn-secondary w-100" type="button" clone>{{ #i18n }}custom-points.clone{{ /i18n }}</button>
        </div>
        <div class="col-6 col-md-auto">
          <button class="btn btn-secondary w-100" type="button" close>{{ #i18n }}form.cancel{{ /i18n }}</button>
        </div>
      </form>
    </div>

  </div>
</section>
