<div class="progress">
  <div
    [ngStyle]="{
      width: progress + '%',
      background: color
    }"
    class="progress-bar bg-info text-center"
    role="progressbar"
  >
    <span>{{ progress }}%</span>
  </div>
</div>
