<form>
  <div class="row wall mb mt">
    <div class="col-lg-12">
      <div class="title">امانت دادن کتاب</div>
    </div>
    <div class="col-lg-6">
      <div
        class="row form-group required"
      >
        <label class="col-lg-12 form-label-inline" for="name"
        >نام کاربری عضو کتابخانه :</label
        >
        <div class="col-lg-12">
          <input
          type="text"
          class="form-control"
          id="summery"
          [(ngModel)]="username"
          [ngModelOptions]="{standalone: true}"
        />
        </div>
      </div>
    </div>
    <div class="col-lg-2" style="padding-top: 4rem;">
      <button (click)="getUserInfo()" class="btn btn-sm btn-primary">
          <span class="bold" style="padding: 0 3rem">جستجو</span>
      </button>
    </div>
    <div class="col-lg-4"></div>
  </div>
</form>

<ng-container *ngIf="this.userInfo">
  <section class="container animated fadeIn" >
    <div class="wall">
      <div class="row mb">
        <div class="col-lg-6 table-wrapper mb">
          <div class="">
            <div class="title">
              مشخصات کاربر
            </div>
            <table class="table">
              <td>
                <tr>
                  <th>شناسه کاربر :</th>
                  <td class="great">{{ userInfo?.Id }}</td>
                </tr>
                <tr>
                  <th>ایمیل کاربر :</th>
                  <td class="great">{{ userInfo?.email }}</td>
                </tr>
                <tr>
                  <th>نام و نام خانوادگی :</th>
                  <td class="great">{{ userInfo?.fullName }}</td>
                </tr>
                <tr style="border: none;">
                  <th>نام کاربری :</th>
                  <td class="great">{{ userInfo?.userName }}</td>
                </tr>
              </td>
            </table>
          </div>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
          <button 
           (click)="modal.getModal('listBook').open();" 
           class="btn btn-sm btn-primary">
            <span class="bold" style="padding: 0 3rem">ثبت کتاب</span>
        </button>
        </div>
      </div>
    </div>
  </section>
  
  <section class="container animated fadeIn">
    <breadcrumb title="لیست کتاب های کاربر"></breadcrumb>
    <div class="row wall mb">
      <div class="col">
        <div class="table-wrapper" style="overflow: auto;">
          <table class="table">
            <thead>
              <th class="text-center cursor-p" rowspan="2">
                شناسه کتاب
              </th>
              <th class="text-center">
                نام کتاب
              </th>
              <th class="text-center">
               دسته بندی
              </th>
              <th class="text-center">
                نویسنده
              </th>
              <th class="text-center">
                ناشر
              </th>
  
            </thead>
            <tbody>
              <tr *ngFor="let item of listBookUser; let i = index">
                <td class="text-center">
                  {{item.Id}}
                </td>
                <td title="{{item.name}}" class="text-center">
                  <!-- {{item.name}} -->
                  {{(item.name.length > 30) ? ( item.name | slice:0:30 ) + '...' : (item.name) }}
  
                </td>
                <td  class="text-center">
                  {{item.category}}
                </td>
                <td class="text-center">
                  {{item.writer}}
                </td>
                <td title="{{item.publisher}}" class="text-center">
                  {{(item.publisher.length > 20) ? ( item.publisher | slice:0:30 ) + '...' : (item.publisher) }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr [hidden]="listBookUser?.length">
                <td class="text-center" colspan="6">
                  <b>{{ "list-empty" | translate }}</b>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </section>
  

</ng-container>

<ngx-smart-modal identifier="listBook">
  <section class="container animated fadeIn">
    <breadcrumb title="لیست کتاب ها"></breadcrumb>
  
    <div class="row wall wall-sm mb d-flex align-items-center">
      <div class="col-md-3 m-0" style="padding: 1rem 0.5rem;">
        <input
          class="search-input small search-label"
          placeholder="شناسه کتاب "
          type="text"
          style="max-width: 27rem"
          [(ngModel)]="filters.Id"
        />
        <!-- <img class="cursor-p" (click)="getBooks()"
        style="width: 1.5rem; pointer-events: unset" src="/statics/images/search.svg" /> -->
      </div>
      <div class="col-md-3 m-0" style="padding: 1rem 0.5rem;">
        <input
          class="search-input small search-label"
          placeholder="نام کتاب"
          type="text"
          style="max-width: 27rem"
          [(ngModel)]="filters.name"
        />
        <!-- <img class="cursor-p" (click)="getBooks()"
        style="width: 1.5rem; pointer-events: unset" src="/statics/images/search.svg" /> -->
      </div>
      <div class="col-md-3 m-0" style="padding: 1rem 0.5rem;">
        <input
          class="search-input small search-label"
          placeholder="نام نویسنده"
          type="text"
          style="max-width: 27rem"
          [(ngModel)]="filters.writer"
        />
        <!-- <img class="cursor-p" (click)="getBooks()"
        style="width: 1.5rem; pointer-events: unset" src="/statics/images/search.svg" /> -->
      </div>
      <div class="col-md-3 m-0" style="padding: 1rem 0.5rem;">
        <input
          class="search-input small search-label"
          placeholder="دسته بندی"
          type="text"
          style="max-width: 27rem"
          [(ngModel)]="filters.category"
        />
        <!-- <img class="cursor-p" (click)="getBooks()"
        style="width: 1.5rem; pointer-events: unset" src="/statics/images/search.svg" /> -->
      </div>
      <div class="col-md-3 m-0" style="padding: 1rem 0.5rem;">
        <input
          class="search-input small search-label"
          placeholder="نام ناشر"
          type="text"
          style="max-width: 27rem"
          [(ngModel)]="filters.publisher"
        />
        <!-- <img class="cursor-p" (click)="getBooks()"
        style="width: 1.5rem; pointer-events: unset" src="/statics/images/search.svg" /> -->
      </div>

      <div class="col-md-2" style="padding: 1rem 0.5rem;">
        <button (click)="getBooks()" class="btn btn-sm btn-primary w-100">
            <span class="bold" style="padding: 0 3rem">جستجو</span>
        </button>
      </div>
      <div class="col-md-7"></div>

      <!-- <div class="col-md col-sm-hidden">

      </div> -->
      <!-- <div
        class="col-md-auto"
      >
        <button
          class="btn btn-sm w-100"
        >
          {{ "dynamicReport.create" | translate }}
        </button>
      </div> -->
    </div>
  
    <div class="row wall mb">
      <div class="col">
        <div class="table-wrapper" style="overflow: auto;">
          <table class="table hover border-header">
            <thead>
              <th class="text-center">#</th>
              <th class="text-center cursor-p" rowspan="2">
                شناسه کتاب
              </th>
              <th class="text-center">
                نام کتاب
              </th>
              <th class="text-center">
               دسته بندی
              </th>
              <th class="text-center">
                نویسنده
              </th>
              <th class="text-center">
                ناشر
              </th>
              <th class="text-center">
                وضعیت کتاب
              </th>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of listBook; let i = index" >
                <tr (click)="submitBood(item)" class="cursor-pointer hover-tr" >
                  <td class="text-center">
                    {{ (filters.page - 1) * perPage + i + 1 }}
                  </td>
                  <td class="text-center">
                    {{item.Id}}
                  </td>
                  <td title="{{item.name}}" class="text-center">
                    <!-- {{item.name}} -->
                    {{(item.name.length > 30) ? ( item.name | slice:0:30 ) + '...' : (item.name) }}
  
                  </td>
                  <td  class="text-center">
                    {{item.category}}
                  </td>
                  <td class="text-center">
                    {{item.writer}}
                  </td>
                  <td title="{{item.publisher}}" class="text-center">
                    {{(item.publisher.length > 20) ? ( item.publisher | slice:0:30 ) + '...' : (item.publisher) }}
                  </td>
                  <td *ngIf="item.status == 'notLoaned'" class="text-center">
                    موجود
                    <span class="icon icon-checkmark  color-success"> </span>
                  </td>
                  <td *ngIf="item.status != 'notLoaned'" class="text-center">
                    نا موجود
                    <span class="icon icon-cross  color-error"> </span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
            <tfoot>
              <tr [hidden]="listBook?.length">
                <td class="text-center" colspan="6">
                  <b>{{ "list-empty" | translate }}</b>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  
    <div class="row pb" *ngIf="totalCount > 10">
      <div class="col">
        <pagination
          (callback)="getBooks($event)"
          (perPageCallback)="getBookPerPage($event)"
          [currentPage]="filters.page"
          [totalPages]="totalPages"
          [totalCount]="totalCount"
        >
        </pagination>
      </div>
    </div>
  </section>
</ngx-smart-modal>