<header class="container-fluid">
  <div class="row justify-content-center">
    <!-- Switch Language -->
    <div class="col-auto">
      <!-- <div class="switch-language-toggle">
        <input
          (change)="toggleLanguage($event)"
          [checked]="checked"
          class="s.l.t"
          id="s.l.t"
          type="checkbox"
        />
        <label class="toggle" for="s.l.t">
          <span class="toggle-handler"></span>
        </label>
      </div> -->
      سیستم مدیریت کتابخانه
    </div>

    <!-- Notifications -->
    <!--    <div class="col-auto" *ngIf="userService.isLoggedIn()">-->
    <!--      <notification></notification>-->
    <!--    </div>-->

    <!-- Empty -->
    <div class="col"></div>

    <!-- User Profile -->
    <div class="col-hidden col-md-auto">
      <div class="dropdown" tabindex="0">
        <div class="dropdown-label">
          {{ userService.getUserName() }}
          <div
            *ngIf="false"
            class="icon icon-user px"
          ></div>
          <div class="px" style="margin-left: 1rem">
            <img class="user-logo" src="/statics/images/avatar.png" />
          </div>
        </div>
        <ul class="dropdown-list">
          <li>
            <a [routerLinkActive]="['active']" routerLink="/auth/user/profile">
              <div class="icon icon-user"></div>
              {{ "auth.user-profile" | translate }}
            </a>
          </li>
          <!-- <li>
            <a
              [routerLinkActive]="['active']"
              routerLink="/auth/password/reset"
            >
              <div class="icon icon-refresh"></div>
              {{ "auth.reset-pass" | translate }}
            </a>
          </li> -->
          <li>
            <a (click)="logout($event)" href="#">
              <div class="icon icon-power-off"></div>
              {{ "auth.logout" | translate }}
            </a>
          </li>
          <!-- <li *ngIf="!userService.isLoggedIn()">
            <a routerLink="auth">
              <div class="icon icon-sign-in"></div>
              {{ "auth.login" | translate }}
            </a>
          </li> -->
        </ul>
      </div>
    </div>

    <!-- Sidebar toggle -->
    <div class="col-sm-auto col-md-hidden" *ngIf="true">
      <div
        (click)="sidebarToggle.emit()"
        class="icon icon-bars sidebar-toggle"
      ></div>
    </div>
  </div>
</header>
