@font-face {
  font-family: "MTNIrancell-Bold";
  src: url("./fonts/MTNIrancell-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "MTNIrancell-Regular";
  src: url("./fonts/MTNIrancell-Regular.ttf") format("truetype");
}
* {
  font-family: MTNIrancell-Regular;
  font-size: 12px;
}
.table-wrapper {
  font-family: MTNIrancell-Regular;
}
.table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.table-sm {
  width: 80%;
  font-size: 1.1rem;
}
.table .great {
  width: 100%;
}
.table thead {
  border-top: 1px solid #d8d8d8;
  background-color: #f0f0f0;
  color: #000000;
}
.table tr {
  font-weight: 100;
  color: #000000;
}
.table tr:last-child {
  border-bottom: 1px solid #d8d8d8;
}
.table tr:nth-child(even) {
  background-color: #f0f0f0;
}
.table th {
  font-weight: bold;
}
.table td,
.table th {
  padding: 1.5rem 0.8rem;
  white-space: nowrap;
}
.table td.wrap,
.table th.wrap {
  white-space: pre-wrap;
}
.table td.limit,
.table th.limit {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.table.hover tr:hover {
  background-color: #d8d8d8;
}
.table.select tr {
  cursor: pointer;
}
.table .list-icon {
  max-width: 3rem;
  max-height: 2.2rem;
  margin: auto;
}
.position-absolute {
  position: absolute !important;
}
.position-relative {
  position: relative !important;
}
.justify-space-between {
  justify-content: space-between !important;
}
.justify-flex-end {
  justify-content: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.bold {
  font-weight: bold;
}
.fs-13 {
  font-size: 1rem !important;
}
.fs-14 {
  font-size: 1.1rem !important;
}
.fs-16 {
  font-size: 1.2rem !important;
}
.fs-18 {
  font-size: 1.3rem !important;
}
.py {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  box-sizing: border-box;
}
.p-0 {
  padding: 0 i !important;
}
.pt-2 {
  padding-top: 3rem !important;
  box-sizing: border-box;
}
.pb {
  padding-bottom: 1.5rem !important;
  box-sizing: border-box;
}
.px {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  box-sizing: border-box;
}
.direction-ltr {
  direction: ltr !important;
}
.direction-rtl {
  direction: rtl !important;
}
.direction-initial {
  direction: initial !important;
}
.flex-direction-reverse {
  flex-direction: row-reverse !important;
}
.flex-direction-unset {
  flex-direction: unset !important;
}
.flex-direction-column {
  flex-direction: column !important;
}
.export-logo-pdf {
  width: 60px !important;
  position: absolute !important;
  bottom: -6rem !important;
  left: 3rem !important;
  z-index: 9999 !important;
}
.text-center {
  text-align: center !important;
}
.color-black {
  color: #000000 !important;
}
.color-gray {
  color: #888888 !important;
}
.filtersLIst {
  /* direction: ltr; */
  background-color: #f5f5f5;
  padding: 0.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.width-10 {
  flex-shrink: 0;
  width: 15rem;
}
.export-logo {
  width: 100%;
}
.container,
.container-fluid {
  width: 100%;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  max-width: 114rem;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -1.5rem;
  margin-left: -1.5rem; */
}
.col-lg-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  /* padding-right: 1.5rem;
    padding-left: 1.5rem; */
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  /* display: initial !important; */
}
.col-lg-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  /* padding-right: 1.5rem;
    padding-left: 1.5rem; */
  flex: 0 0 100%;
  max-width: 100%;
}
.report-count {
  padding: 0 4rem;
  font-size: 1.4rem;
  color: #888888 !important
}