@font-face {
  font-family: "MTNIrancell-Bold";
  src: url("./fonts/MTNIrancell-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "MTNIrancell-Regular";
  src: url("./fonts/MTNIrancell-Regular.ttf") format("truetype");
}

* {
  width: 100%;
  outline: none;
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

body.rtl,
body.rtl .row {
  direction: rtl;
  font-family: "MTNIrancell-Regular";
  font-size: 1.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}
.mb {
  margin-bottom: 1.5rem !important;
  box-sizing: border-box;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
@media (min-width: 62rem) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
    display: initial !important;
  }
}
.row.wall {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: auto;
}
.col-lg-10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
  display: initial !important;
}
.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
  display: initial !important;
}
.form-label-inline {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
.table {
  justify-content: center !important;
  margin: 0 auto;
  font-family: "MTNIrancell-Regular";
  font-size: smaller;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  outline: none;
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.table-sm {
  width: 80%;
  font-size: 1.1rem;
}
.table .great {
  width: 100%;
}
.table thead {
  border-top: 1px solid #d8d8d8;
  background-color: #f0f0f0;
  color: #000000;
}
.table tr {
  font-weight: 100;
  color: #000000;
}
.table tr:last-child {
  border-bottom: 1px solid #d8d8d8;
}
.table tr:nth-child(even) {
  background-color: #f0f0f0;
}
.table th {
  font-weight: bold;
}
.table td,
.table th {
  padding: 1.5rem 0.8rem;
  white-space: nowrap;
}
.table td.wrap,
.table th.wrap {
  white-space: pre-wrap;
}
.table td.limit,
.table th.limit {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.table.hover tr:hover {
  background-color: #d8d8d8;
}
.table.select tr {
  cursor: pointer;
}
.table .list-icon {
  max-width: 3rem;
  max-height: 2.2rem;
  margin: auto;
}
