<section class="container animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <breadcrumb title="ثبت نام"></breadcrumb>
      <form
      (ngSubmit)="submit(form)"
      [formGroup]="form"
        class="row wall"
        novalidate
      >
        <!-- username -->
        <div class="col-12">
          <div
            class="form-group"
          >
            <label class="form-label" for="username"
              >{{ "auth.username" | translate }}:</label
            >
            <input
              class="form-control"
              formControlName="userName"
              id="username"
              name="username"
              placeholder=""
              type="text"
            />
          </div>
        </div>
        <!-- Name -->
        <div class="col-12">
          <div class="form-group"
          >
            <label class="form-label" for="fullname"
              >{{ "auth.fullname" | translate }}:</label
            >
            <input
              class="form-control"
              formControlName="fullName"
              id="fullname"
              name="fullname"
              placeholder=""
              type="text"
            />
           
          </div>
        </div>
        <!-- Email -->
        <div class="col-12">
          <div class="form-group"
          >
            <label class="form-label" for="email"
              >{{ "auth.email" | translate }}:</label
            >
            <input
              class="form-control"
              formControlName="email"
              id="email"
              name="email"
              placeholder=""
              type="email"
            />
            
          </div>
        </div>
        <!-- Call -->
        <div class="col-12">
          <div class="form-group"
          >
            <label class="form-label" for="cellphone"
              >رمز عبور:</label
            >
            <input
              class="form-control"
              formControlName="password"
              id="password"
              name="password"
              type="password"
            />
            
          </div>
        </div>

        <!-- Buttons -->
        <div class="col-12">
          <button
            [disabled]="form.invalid && formSubmitted"
            class="btn btn-primary"
            type="submit"
          >
            {{ "forms.save" | translate }}
          </button>
          <button [routerLink]="['/auth']" class="btn btn-danger" type="button">
            بازگشت
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
