<ng-container *ngFor="let item of items; let index = index">
  <input-item (itemRemoved)="removeItem($event)" [disabled]="disabled" [index]="index" [label]="item"></input-item>
</ng-container>
<input #tagInputRef (blur)="blured($event)" (focus)="focused($event)" (keydown)="keyDown($event)"
       (keypress)="keyPress($event)"
       (paste)="inputPaste($event)" [(ngModel)]="inputValue" [disabled]="disabled" [id]="inputid"
       [placeholder]="placeholder"
       class="input-field" type="text">
