<section class="container animated fadeIn">
    <breadcrumb title="لیست کتاب ها"></breadcrumb>
  
    <div class="row wall wall-sm mb d-flex align-items-center">
      <div class="col-md-3 m-0" style="padding: 1rem 0.5rem;">
        <input
          class="search-input small search-label"
          placeholder="شناسه کتاب "
          type="text"
          style="max-width: 27rem"
          [(ngModel)]="filters.Id"
        />
        <!-- <img class="cursor-p" (click)="getBooks()"
        style="width: 1.5rem; pointer-events: unset" src="/statics/images/search.svg" /> -->
      </div>
      <div class="col-md-3 m-0" style="padding: 1rem 0.5rem;">
        <input
          class="search-input small search-label"
          placeholder="نام کتاب"
          type="text"
          style="max-width: 27rem"
          [(ngModel)]="filters.name"
        />
        <!-- <img class="cursor-p" (click)="getBooks()"
        style="width: 1.5rem; pointer-events: unset" src="/statics/images/search.svg" /> -->
      </div>
      <div class="col-md-3 m-0" style="padding: 1rem 0.5rem;">
        <input
          class="search-input small search-label"
          placeholder="نام نویسنده"
          type="text"
          style="max-width: 27rem"
          [(ngModel)]="filters.writer"
        />
        <!-- <img class="cursor-p" (click)="getBooks()"
        style="width: 1.5rem; pointer-events: unset" src="/statics/images/search.svg" /> -->
      </div>
      <div class="col-md-3 m-0" style="padding: 1rem 0.5rem;">
        <input
          class="search-input small search-label"
          placeholder="دسته بندی"
          type="text"
          style="max-width: 27rem"
          [(ngModel)]="filters.category"
        />
        <!-- <img class="cursor-p" (click)="getBooks()"
        style="width: 1.5rem; pointer-events: unset" src="/statics/images/search.svg" /> -->
      </div>
      <div class="col-md-3 m-0" style="padding: 1rem 0.5rem;">
        <input
          class="search-input small search-label"
          placeholder="نام ناشر"
          type="text"
          style="max-width: 27rem"
          [(ngModel)]="filters.publisher"
        />
        <!-- <img class="cursor-p" (click)="getBooks()"
        style="width: 1.5rem; pointer-events: unset" src="/statics/images/search.svg" /> -->
      </div>

      <div class="col-md-2" style="padding: 1rem 0.5rem;">
        <button (click)="getBooks()" class="btn btn-sm btn-primary w-100">
            <span class="bold" style="padding: 0 3rem">جستجو</span>
        </button>
      </div>
      <div class="col-md-7"></div>

      <!-- <div class="col-md col-sm-hidden">

      </div> -->
      <!-- <div
        class="col-md-auto"
      >
        <button
          class="btn btn-sm w-100"
        >
          {{ "dynamicReport.create" | translate }}
        </button>
      </div> -->
    </div>
  
    <div class="row wall mb">
      <div class="col">
        <div class="table-wrapper" style="overflow: auto;">
          <table class="table">
            <thead>
              <th class="text-center">#</th>
              <th class="text-center cursor-p" rowspan="2">
                شناسه کتاب
              </th>
              <th class="text-center">
                نام کتاب
              </th>
              <th class="text-center">
               دسته بندی
              </th>
              <th class="text-center">
                نویسنده
              </th>
              <th class="text-center">
                ناشر
              </th>
              <th class="text-center">
                وضعیت کتاب
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of listBook; let i = index">
                <td class="text-center">
                  {{ (filters.page - 1) * perPage + i + 1 }}
                </td>
                <td class="text-center">
                  {{item.Id}}
                </td>
                <td title="{{item.name}}" class="text-center">
                  <!-- {{item.name}} -->
                  {{(item.name.length > 30) ? ( item.name | slice:0:30 ) + '...' : (item.name) }}

                </td>
                <td  class="text-center">
                  {{item.category}}
                </td>
                <td class="text-center">
                  {{item.writer}}
                </td>
                <td title="{{item.publisher}}" class="text-center">
                  {{(item.publisher.length > 20) ? ( item.publisher | slice:0:30 ) + '...' : (item.publisher) }}
                </td>
                <td *ngIf="item.status == 'notLoaned'" class="text-center">
                  موجود
                  <span class="icon icon-checkmark  color-success"> </span>
                </td>
                <td *ngIf="item.status != 'notLoaned'" class="text-center">
                  نا موجود
                  <span class="icon icon-cross  color-error"> </span>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr [hidden]="listBook?.length">
                <td class="text-center" colspan="6">
                  <b>{{ "list-empty" | translate }}</b>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  
    <div class="row pb" *ngIf="totalCount > 10">
      <div class="col">
        <pagination
          (callback)="getBooks($event)"
          (perPageCallback)="getBookPerPage($event)"
          [currentPage]="filters.page"
          [totalPages]="totalPages"
          [totalCount]="totalCount"
        >
        </pagination>
      </div>
    </div>
  </section>
  