@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7p4sw7');
  src:  url('fonts/icomoon.eot?7p4sw7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7p4sw7') format('truetype'),
    url('fonts/icomoon.woff?7p4sw7') format('woff'),
    url('fonts/icomoon.svg?7p4sw7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-double-left:before {
  content: "\f100";
}
.icon-double-right:before {
  content: "\f101";
}
.icon-file-pdf:before {
  content: "\f1c1";
}
.icon-ticket-alt:before {
  content: "\f3ff";
}
.icon-check-double:before {
  content: "\f560";
}
.icon-file-csv:before {
  content: "\f6dd";
}
.icon-remove:before {
  content: "\e904";
}
.icon-requests:before {
  content: "\e907";
}
.icon-flash:before {
  content: "\e906";
}
.icon-dashboard:before {
  content: "\e900";
}
.icon-chevron-thin-up:before {
  content: "\e901";
}
.icon-stats:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars1:before {
  content: "\e99c";
}
.icon-accessibility:before {
  content: "\e9b5";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-warning1:before {
  content: "\ea07";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-check-c:before {
  content: "\ea52";
}
.icon-uncheck-c:before {
  content: "\ea53";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-phone:before {
  content: "\e942";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-key:before {
  content: "\e98d";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-file-excel:before {
  content: "\eae2";
}
.icon-warning:before {
  content: "\ea08";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-stats-bars:before {
  content: "\e99d";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-location:before {
  content: "\e947";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-upload3:before {
  content: "\e9c8";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-caret-up:before {
  content: "\f077";
}
.icon-caret-down:before {
  content: "\f078";
}
.icon-check:before {
  content: "\f00c";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-help:before {
  content: "\f059";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning11:before {
  content: "\f071";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-dashboard1:before {
  content: "\f0e4";
}
.icon-tachometer:before {
  content: "\f0e4";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-broken:before {
  content: "\f127";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-create:before {
  content: "\f196";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-external-link:before {
  content: "\e903";
}
