@icomoon-font-family: "icomoon";
@icomoon-font-path: "fonts";

@icon-double-left: "\f100";
@icon-double-right: "\f101";
@icon-file-pdf: "\f1c1";
@icon-ticket-alt: "\f3ff";
@icon-check-double: "\f560";
@icon-file-csv: "\f6dd";
@icon-remove: "\e904";
@icon-requests: "\e907";
@icon-flash: "\e906";
@icon-dashboard: "\e900";
@icon-chevron-thin-up: "\e901";
@icon-stats: "\e902";
@icon-user: "\e971";
@icon-user-tie: "\e976";
@icon-stats-dots: "\e99b";
@icon-stats-bars1: "\e99c";
@icon-accessibility: "\e9b5";
@icon-tree: "\e9bc";
@icon-warning1: "\ea07";
@icon-info: "\ea0c";
@icon-check-c: "\ea52";
@icon-uncheck-c: "\ea53";
@icon-radio-checked2: "\ea55";
@icon-radio-unchecked: "\ea56";
@icon-phone: "\e942";
@icon-search: "\e986";
@icon-zoom-in: "\e987";
@icon-zoom-out: "\e988";
@icon-key: "\e98d";
@icon-wrench: "\e991";
@icon-file-excel: "\eae2";
@icon-warning: "\ea08";
@icon-plus: "\ea0a";
@icon-minus: "\ea0b";
@icon-cancel-circle: "\ea0d";
@icon-blocked: "\ea0e";
@icon-cross: "\ea0f";
@icon-checkmark: "\ea10";
@icon-play2: "\ea15";
@icon-pause: "\ea16";
@icon-stop: "\ea17";
@icon-play3: "\ea1c";
@icon-pause2: "\ea1d";
@icon-stop2: "\ea1e";
@icon-spinner11: "\e984";
@icon-stats-bars: "\e99d";
@icon-menu: "\e9bd";
@icon-paragraph-justify: "\ea7a";
@icon-box-add: "\e95e";
@icon-terminal: "\ea81";
@icon-spinner: "\e97a";
@icon-cog: "\e994";
@icon-cogs: "\e995";
@icon-location: "\e947";
@icon-file-text2: "\e926";
@icon-paste: "\e92d";
@icon-upload3: "\e9c8";
@icon-exit: "\ea14";
@icon-folder: "\e92f";
@icon-folder-open: "\e930";
@icon-files-empty: "\e925";
@icon-copy: "\e92c";
@icon-filter: "\ea5b";
@icon-caret-up: "\f077";
@icon-caret-down: "\f078";
@icon-check: "\f00c";
@icon-power-off: "\f011";
@icon-refresh: "\f021";
@icon-edit: "\f044";
@icon-pencil-square-o: "\f044";
@icon-help: "\f059";
@icon-eye: "\f06e";
@icon-exclamation-triangle: "\f071";
@icon-warning11: "\f071";
@icon-group: "\f0c0";
@icon-users: "\f0c0";
@icon-bars: "\f0c9";
@icon-navicon: "\f0c9";
@icon-reorder: "\f0c9";
@icon-envelope: "\f0e0";
@icon-dashboard1: "\f0e4";
@icon-tachometer: "\f0e4";
@icon-stethoscope: "\f0f1";
@icon-broken: "\f127";
@icon-ellipsis-v: "\f142";
@icon-create: "\f196";
@icon-building: "\f1ad";
@icon-toggle-off: "\f204";
@icon-toggle-on: "\f205";
@icon-external-link: "\e903";

