<div [ngStyle]="{
      'background-image': img_src
  }" class="wall back-g">
  <div class="card">
    <div [ngStyle]="{'background-color': backgroundColor}" class="card-icon">
      <span class="icon {{icon}}"></span>
    </div>
    <div class="card-content">
      <div [ngStyle]="{'color': color}" class="card-content__title">
        {{ title | translate }}
      </div>
      <div class="card-content__value">
        {{ number }}
      </div>
    </div>
  </div>
</div>
