main {
  overflow-x: hidden;
  overflow-y: auto;
  .scrollbar();

  section.container {
    &,
    &-fluid {
      padding-top: @gutter;
    }
  }
}

#breadcrumb {
  margin-bottom: @gutter;

  .title {
    font-size: 1.8rem;
    font-family: MTNIrancell-Bold;
    color: @boulder;
  }
}

.vakata-context {
  z-index: 1100;
}

.wall {
  border-radius: 0.5rem;
  background-color: @white;
  box-shadow: 0px 0px 20px -10px @shadow;
  -webkit-box-shadow: 0px 0px 20px -10px @shadow;
  -moz-box-shadow: 0px 0px 20px -10px @shadow;
  text-align: justify;
  padding: @gutter;

  &.back-g {
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }

  &.wall-sm {
    padding: 0.5rem;
  }

  .title {
    font-size: 1.8rem;
    font-weight: bold;
    color: @black;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    //border-bottom: 1px solid @alto;
  }

  .card {
    padding: 1rem;
    display: flex;
    color: @gallery;

    &-image {
      min-width: 10rem;
      padding: 0.5rem;
      text-align: center;
      box-sizing: content-box;

      .icon {
        font-size: 3rem;
        padding: 1rem;
        color: @white;
      }
    }
    &-icon {
      min-width: 5rem;
      padding: 0.5rem;
      text-align: center;
      border-radius: 50%;
      max-height: 5rem;
      box-sizing: content-box;

      .icon {
        font-size: 3rem;
        padding: 1rem;
        color: @white;
      }
    }
    &-rounded {
      padding: 0.5rem;
      text-align: center;
      box-sizing: content-box;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      .icon {
        font-size: 3rem;
        padding: 1rem;
        color: @white;
      }
    }

    &-content {
      padding: 0 1rem;

      &__title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 1rem;
        text-align: center;
        color: @black;
      }

      &__value {
        font-weight: bold;
        font-size: 1.6rem;
        text-align: center;
        color: @black;
      }
    }
  }
}

.col,
[class*="col-"] {
  & > .wall {
    width: 100%;
    height: 100%;
  }
}

.row.wall {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: auto;

  &.wall-sm {
    padding: 0.5rem 0;

    & > .col,
    & > [class*="col-"] {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
}

.dropdown {
  position: relative;
  cursor: pointer;

  &-label {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;

    .user-logo {
      padding: 0.5rem;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: white;
      transition: 100ms ease-in-out;
      box-shadow: 0 0 5px -1px;

      &:hover {
        box-shadow: 0 0 10px -1px;
        transition: 100ms ease-in-out;
      }
    }
  }

  &-list {
    width: auto;
    min-width: 100%;
    height: auto;
    display: block;
    position: absolute;
    left: auto;
    right: 0;
    margin-top: -1px;
    margin-bottom: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 1;
    list-style: none;
    padding: 0;
    background-color: @white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    .advance-transition(~"all 200ms linear, visibility 500ms");

    li {
      width: auto;
      white-space: nowrap;
      padding: 0 @gutter;
    }
  }

  &:focus {
    outline: 0;
    pointer-events: none;
  }

  &:focus &-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.inline-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: @gallery;
  color: @boulder;
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  overflow: visible;

  &:focus,
  &:hover {
    outline: 0;
  }
}

.form-control {
  width: 100%;
  min-height: 4.7rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.1rem solid @alto;
  border-radius: 0.5rem;
  color: @boulder;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: @white;
  resize: none;
  .placeholder-color(@alto);
  .transition(0.3s);

  &:not(:disabled):focus,
  &:not(:disabled):hover {
    border-color: @default-color;
    outline: 0;
  }

  &:disabled {
    background-color: @gallery;
  }

  &.small {
    padding: 0.5rem;
    min-height: 3.7rem;
  }

  select& {
    cursor: pointer;

    &[multiple] {
      .scrollbar();
    }

    &:not([multiple]) {
      background-image: url("../statics/images/chevron-arrow-down.svg");
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 4.5rem;
    }

    &::-ms-expand {
      display: none;
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 @boulder;
      transition: none;
    }
  }

  textarea& {
    display: block;
  }

  [type="color"] & {
    padding: 2px;
  }
}

.search-input {
  .form-control;
  margin: 1px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  border: 0.1rem solid @alto;
  border-radius: 0.5rem;
  background-color: @white;
  overflow: hidden;
  .transition(0.3s);

  .form-control {
    width: 1%;
    flex-grow: 1;
  }

  .form-control,
  .input-group-addon {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    outline: 0;
  }

  .input-group-addon {
    color: @alto;
    padding: 1.2rem;
    font-size: 1.4rem;
    font-weight: bold;
    align-items: center;
    white-space: nowrap;
    text-align: center;

    .icon {
      color: @boulder;
      cursor: pointer;
    }

    &.input-group-btn {
      color: @sidebar;
      background-color: @white;
      cursor: pointer;
      border-left: 1px solid @color-disable;
    }
  }

  &.small {
    .form-control,
    .input-group-addon {
      padding: 0.5rem;
      min-height: 3.7rem;
    }
  }

  &:hover, // TODO: Does not work in IE and Edge
  &:focus-within {
    border-color: @default-color;
  }

  &.disabled {
    border-color: @alto;
    background-color: @gallery;
  }
}

.form-label {
  padding-bottom: 1rem;
  margin-bottom: 0;

  &-inline {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
}

.form-group {
  margin-bottom: @gutter;

  th &,
  td & {
    margin-bottom: 2px;
  }

  .feedback {
    width: 100%;
    display: block;
    margin-top: 0.5rem;
  }

  &.has-error {
    .form-label,
    .form-label-inline,
    .feedback,
    .form-control {
      color: @color-error;
    }

    .form-control,
    .input-group {
      border-color: @color-error;
      .placeholder-color(@color-error);
    }

    tag-input,
    select-input {
      border-color: @color-error;

      .input-field {
        color: @color-error;
        .placeholder-color(@color-error);
      }
    }

    select option {
      color: @boulder;
    }
  }
}

.btn,
a.btn {
  width: auto;
  min-height: 4.7rem;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 3.2rem;
  line-height: 2.5rem;
  border-radius: 0.8rem;
  color: @black;
  border: 1px solid transparent;
  background-clip: padding-box;
  background-color: @default-color;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 0 1px rgba(236, 236, 236, 1);
    transition: box-shadow 0.2s, opacity 0.4s;
  }
  &:focus {
    outline: 0;
  }

  &.btn-sm {
    min-height: 3.9rem;
    padding: 0.6rem 1rem;
    line-height: 2.5rem;
  }

  &.btn-paginition {
    width: 4.1rem;
    border-color: @default-color;
    min-height: 3.9rem;
    padding: 0.6rem 1rem;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: @white;
    color: @black;
    margin: 0 0.15rem;
  }

  &.btn-default {
    color: @gray;
    background-color: transparent;
  }

  &.btn-large {
    height: 6rem;
    line-height: 4rem;
    font-size: 1.5rem;
  }

  &.btn-radius {
    border-radius: 5rem;
  }

  &.btn-primary {
    background-color: @color-primary !important;
    color: @sidebar !important;
  }

  &.btn-success {
    background-color: @color-success;
    color: @white;
  }

  &.btn-info {
    background-color: @color-info;
    color: @white;
  }

  &.btn-warning {
    background-color: @color-warn;
  }

  &.btn-danger {
    background-color: @color-error;
    color: @white;
  }

  &:disabled {
    border-color: transparent;
    cursor: not-allowed;
    background-color: @color-disable;
  }
}

label.radio-option {
  width: auto;
  height: auto;
  display: block;
  cursor: pointer;

  input[type="checkbox"],
  input[type="radio"] {
    display: none;

    &:checked + span {
      //border-color: @default-color;
      &:before {
        content: "\ea55";
        color: #4b3a71;
      }
    }
  }

  span {
    &:before {
      content: "\ea56";
      color: #bdc3c7;
      font-family: "icomoon" !important;
      font-size: 2.5rem;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      vertical-align: middle;
      //display: inline-block;
      //width: 1rem;
      //height: 1.6rem;
      //margin: auto 0.5rem;
      //border: 0.3rem solid @color-disable;
      //border-top: 0;
      //border-left: 0;
      //background: transparent;
      //transform: rotate(40deg);
    }
  }

  label.checkbox-select {
    width: auto;
    height: auto;
    line-height: 2.5rem;
    font-size: 2.5rem;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;

    span::before {
      content: "f";
      color: @color-disable;
      font-family: "icomoon" !important;
      display: block;
    }

    input[type="checkbox"],
    input[type="radio"] {
      display: none;

      &:checked + span::before {
        content: "t";
        color: @default-color;
      }

      &:disabled + span::before {
        color: @alto;
      }
    }
  }
}

.table-wrapper {
  width: 100%;
  // overflow-y: auto;
  .scrollbar();
}
.border-header {
  th {
    border-right: 1px solid rgb(199, 199, 199);
    &:last-child {
      border: none;
    }
    // &:first-child {
    //   border: none;
    // }
  }
}
.table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  &-sm {
    width: 80%;
    font-size: 1.1rem;
  }
  .great {
    width: 100%;
  }

  thead {
    border-top: 1px solid @alto;
    background-color: @gallery;
    color: @black;
  }

  tr {
    //border-top: 1px solid @white;
    font-weight: 100;
    color: @black;

    &:last-child {
      border-bottom: 1px solid @alto;
    }

    &:nth-child(even) {
      background-color: @gallery;
    }
  }

  th {
    font-weight: bold;
  }

  td,
  th {
    padding: 1.5rem 0.8rem;
    white-space: nowrap;

    &.wrap {
      white-space: pre-wrap;
    }

    &.limit {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }

  &.hover tr:hover {
    background-color: @alto !important;
  }

  &.select tr {
    cursor: pointer;
  }

  .list-icon {
    max-width: 3rem;
    max-height: 2.2rem;
    margin: auto;
  }
}

.table-all {
  tr {
    //border-top: 1px solid @white;
    font-weight: 100;
    color: @black;
  }
}

.sort-option {
  cursor: pointer;
  color: @boulder;
}

.tools {
  font-size: 1.8rem;
  line-height: 1;
  color: @sidebar;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &.select {
    &.icon-check {
      color: @default-color;
    }

    &.icon-uncheck {
      color: @color-disable;
    }
  }

  &[class*="toggle"] {
    font-size: 3rem;
    line-height: 2rem;
  }

  &.enable {
    color: @color-success;
  }

  &.disable {
    color: @color-error;
  }

  &.delete {
    color: @color-error !important;
  }

  &.disabled {
    color: @color-disable;
  }
}

.nsm-dialog {
  max-width: 120rem;
}

.small-modal {
  max-width: 700px !important;
  margin-top: 10rem;
}

.big-modal {
  max-width: 1025px !important;
}

.modal {
  .overlay {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.54);
    z-index: 50;
    cursor: pointer;
  }

  .wrapper {
    position: fixed;
    display: block;
    max-width: 90%;
    max-height: 90%;
    height: auto;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 51;
    overflow-x: hidden;
    overflow-y: auto;
    .scrollbar();

    &.wall,
    .wall {
      box-shadow: 0 0 0 0;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
    }
  }

  &.pure {
    opacity: 0;
    visibility: hidden;

    .wrapper {
      transform: translateY(-70%);
      .transition(100ms);
    }

    .transition(100ms);

    &.visible {
      opacity: 1;
      visibility: visible;

      .wrapper {
        transform: translateY(-50%);
      }
    }
  }

  .close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    line-height: 2.5rem;
    font-size: 2.5rem;
    color: @color-error;
    z-index: 1;
    cursor: pointer;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.plan-promotion {
  width: 100%;
  padding: 1rem;
  color: @white;
  background-color: @default-color;
  text-align: center;

  a {
    color: @color-warn;
  }
}

.simple-notification-wrapper {
  width: 40rem !important;
}

.simple-notification {
  .icon {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &.success {
    background: @color-success !important;
  }

  &.info {
    background: @color-info !important;
  }

  &.warn {
    background: @color-warn !important;
  }

  &.error {
    background: @color-error !important;
  }
}

.swal2-popup {
  font-size: inherit !important;

  .swal2-title {
    font-size: 2rem !important;
  }

  .swal2-actions .btn {
    margin: 0.2rem !important;
  }
}

.ql-toolbar.ql-snow {
  border: 0.1rem solid @alto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  direction: ltr;
  text-align: justify;
  padding: 1rem;

  & + .ql-container.ql-snow {
    border: 0.1rem solid @alto;
    border-top: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    direction: ltr;
    height: auto;

    .ql-editor {
      min-height: 12rem;
    }
  }
}

.quill-custom-source {
  width: 100%;
  margin: 0;
  background: @gallery;
  box-sizing: border-box;
  color: @boulder;
  font-size: 1.4rem;
  outline: none;
  padding: 1.5rem;
  line-height: 2.4rem;
  // font-family: Consolas, Menlo, Monaco;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  resize: none;
}

.ql-showHtml {
  font-family: "icomoon" !important;
  line-height: 100%;

  &:before {
    content: "\67";
  }
}

.link {
  color: #5253ff;
  text-decoration: underline;
}

.icon-bars {
  font-size: 2.5rem;
  line-height: 1;
  color: @sidebar !important;
  cursor: pointer;
}

.hidden {
  display: none;
}

.datepicker-plot-area {
  width: 300px !important;
}

.form-sections {
  .title {
    border-bottom: 1px solid #464646;
    color: #464646 !important;
  }
}

.badge {
  background-color: #dca400;
  color: white;
  padding: 0.4rem;
  border-radius: 7px;

  &-success {
    background-color: @color-success;
    color: white;
    padding: 0.4rem;
    border-radius: 7px;
  }

  &-warn {
    background-color: @color-warn;
    color: white;
    padding: 0.4rem;
    border-radius: 7px;
  }

  &-primary {
    background-color: @color-primary;
    color: white;
    padding: 0.4rem;
    border-radius: 7px;
  }

  &-error {
    background-color: @color-error;
    color: white;
    padding: 0.4rem;
    border-radius: 7px;
  }

  &-info {
    background-color: @color-info;
    color: white;
    padding: 0.4rem;
    border-radius: 7px;
  }

  &-secondary {
    background-color: @color-secondary;
    color: white;
    padding: 0.4rem;
    border-radius: 7px;
  }

  &-disable {
    background-color: @color-disable;
    color: white;
    padding: 0.4rem;
    border-radius: 7px;
  }
}

.form-group.required {
  .form-label-inline:after {
    content: "*";
    color: red;
  }
}

.list-group {
  font-size: 1.3rem;

  .list-group-item {
    margin: 1rem 0;
    span {
      margin-left: 1rem;
    }
  }
}

.seven-cols {
  padding-bottom: 0px;
  .col-seven {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-seven {
    width: 12.5%;
    padding: 0 0rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .seven-cols .col-seven {
    width: 24.5%;
    padding: 0 0.3rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .seven-cols .col-seven {
    width: 24.3%;
    padding: 0 0.3rem;
  }
}

@media (max-width: 767px) {
  .seven-cols .col-seven {
    width: 100%;
    padding: 0 0.6rem;
  }
}

.bg-info {
  text-align: center;
  border-radius: 0 5px 5px 0;
}
.table {
  .bg {
    &-excellent {
      border: 1px solid white;
      background: rgb(18, 145, 6);
      background: linear-gradient(
        90deg,
        rgba(26, 207, 5, 1) 0%,
        rgba(128, 251, 119, 1) 48%,
        rgba(87, 255, 48, 1) 100%
      ) !important;
    }
    &-good {
      border: 1px solid white;
      background: rgb(25, 213, 7);
      background: linear-gradient(
        90deg,
        rgba(48, 245, 160, 1) 0%,
        rgba(123, 255, 167, 1) 48%,
        rgba(113, 246, 220, 1) 100%
      ) !important;
    }
    &-fair {
      border: 1px solid white;
      background: rgb(213, 148, 7);
      background: linear-gradient(
        90deg,
        rgba(219, 143, 66, 1) 0%,
        rgba(255, 214, 108, 1) 48%,
        rgba(254, 205, 136, 1) 100%
      ) !important;
    }
    &-poor {
      border: 1px solid white;
      background: rgb(219, 66, 66);
      background: linear-gradient(
        90deg,
        rgba(219, 66, 66, 1) 0%,
        rgba(255, 108, 108, 1) 48%,
        rgba(250, 62, 62, 1) 100%
      ) !important;
    }
  }
}

.progress {
  background-color: lightgray;
  border-radius: 5px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.icon-spinner11 {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.jstree-default > .jstree-striped {
  display: block !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: @indigo;
}

input:focus + .slider {
  box-shadow: 0 0 1px @indigo;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.icon-folder {
  color: @color-primary;
  &-open {
    color: @color-primary;
  }
}
.icon-caret {
  &-up {
    font-size: 1.3rem;
  }
  &-down {
    font-size: 1.3rem;
  }
}
.icon-cross {
  font-size: 1.3rem;
}
.icon-key {
  font-size: 1.3rem;
}
.cpe-image {
  background: #fff;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 6px 20px -12px rgba(22, 21, 22, 0.44);
  img {
    width: 7rem;
  }
}

.text-nowrap {
  white-space: nowrap;
}

// popover styles
.popover__wrapper {
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translate(35px, 7px); //
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(33px, 7px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
  margin: 0;
}

.CodeMirror {
  border-radius: 2px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #dca400;
  background-color: #dca400;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-control-label {
  cursor: pointer;
}

.wideModal .overlay .nsm-dialog {
  max-width: 120rem !important;
}
.icon-sm {
  font-size: 1.2rem;
  border-right: 0.1px solid rgb(80, 80, 80);
  border-left: none;
  padding: 0.5rem 1rem;
}
.back-primary {
  background-color: @color-primary;
  color: black;
  border-radius: 5px;
}
.left-inner-addon {
  position: relative;
  max-width: 26rem;
  margin-bottom: 1rem;
}
.left-inner-addon input {
  padding-left: 1rem;
  width: 28rem;
  max-width: 25rem;
}
.left-inner-addon img {
  position: absolute;
  /* left: 0rem; */
  right: 0;
  pointer-events: none;
  top: 1rem;
}
.left-inner-addon::before {
  content: "";
  position: absolute;
  border-left: 1px solid #3c3c3c4f;
  width: 16px;
  height: 16px;
  left: 1;
  right: 1rem;
  top: 1rem;
}
.hr-primary {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid @color-primary;
  padding: 0;
  margin-top: -0.3rem;
}
.btn-gallery {
  background-color: @gallery;
  color: black;
}
.select-input-header {
  // background-image: url("../statics/images/chevron-arrow-down2.svg");
  background-image: none;
  // background-position: left center;
  // background-repeat: no-repeat;
  // background-size: 3.2rem;
  // margin: 0 1.3rem;
  border-color: transparent;
  min-width: 8rem;
  padding: 1px;
  text-decoration: none;
  outline: none;

  .default-header {
    // margin: 0 1rem;
    // padding: 0 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
  }
  &::after {
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    font-family: "Adgs Icons";
    font-weight: normal;
    font-style: normal;
    speak: none;
    content: "\f15b";
    font-size: 16px;
    height: 16px;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    // right: 1px;
    left: auto;
    top: 50%;
    text-indent: 0;
    width: 16px;
  }
}
.select-input-header-up {
  min-width: 8rem;
  outline: none;

  border-color: transparent;
  padding: 1px;
  text-decoration: none;
  .default-header {
    // margin: 0 1rem;
    // padding: 0 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
  }
  // background-image: url("../statics/images/chevron-arrow-up2.svg");
  background-image: none;
  // background-position: left center;
  // background-repeat: no-repeat;
  // background-size: 3.2rem;
  // margin: 0 1.3rem;
  &::after {
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    font-family: "Adgs Icons";
    font-weight: normal;
    font-style: normal;
    speak: none;
    content: "\F215";
    font-size: 16px;
    height: 16px;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    // right: 1px;
    left: auto;
    top: 50%;
    text-indent: 0;
    width: 16px;
  }
}
.form-control-header {
  width: 100%;
  background-color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0.5rem;
  color: @boulder;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  resize: none;
  .placeholder-color(@alto);
  .transition(0.3s);

  &:not(:disabled):focus,
  &:not(:disabled):hover {
    border-color: @default-color;
    outline: 0;
  }
  &:hover {
    background-color: #d0d0d061;
  }
  &:disabled {
    background-color: @gallery;
  }

  &.small {
    padding: 0.5rem;
    min-height: 3.7rem;
  }

  select& {
    cursor: pointer;

    &[multiple] {
      .scrollbar();
    }

    &:not([multiple]) {
      background-image: url("../statics/images/chevron-arrow-down2.svg");
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 3.2rem;
      margin: 0 1.3rem;
    }

    &::-ms-expand {
      display: none;
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 @boulder;
      transition: none;
    }
  }

  textarea& {
    display: block;
  }

  [type="color"] & {
    padding: 2px;
  }
}
.title-hover:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
}
.loader-overlay {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #00000029;
  z-index: 1100;
  border-radius: 1rem;
  right: 0;
  top: 0;
}

.select-input-width {
  & > input {
    width: 100% !important;
  }
}
.form-control-perpage {
  width: 100%;
  border: 0.1rem solid @alto;
  border-radius: 0.5rem;
  color: @boulder;
  outline: none;
  background-color: @white;
  &::after {
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    font-family: "Adgs Icons";
    font-weight: normal;
    font-style: normal;
    speak: none;
    content: "\f15b";
    font-size: 16px;
    height: 16px;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    right: 1px;
    top: 50%;
    text-indent: 0;
    width: 16px;
  }
}
.ticketNumbers {
  display: inline-block;
  font-weight: bold;
  font-size: 2.8rem !important;
  padding: 1rem 1.5rem !important;
}

.helpTab {
  &:hover {
    color: #ffca05 !important;
  }
}
.has-error {
  color: @color-error;
}
body {
  margin: 0;
  outline: none;
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.text-sm {
  font-size: smaller;
}
.next-wrapper {
  &:hover {
    color: #ffca05 !important;
  }
}
.prev-wrapper {
  &:hover {
    color: #ffca05 !important;
  }
}
.wrap {
  white-space: pre-wrap;
}
.tab .btn{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.hover-tr:hover {
    background-color:#d8d8d8 !important;
}