html,
body {
  display: block;
  height: 100% !important;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  background-color: #f5f5f5;
  //background-image: @pattern;
  background-position: top left;
  background-repeat: repeat;
  color: @gray;
  // .nonselect();
}

h1,
h2,
h3,
h4 {
  color: @boulder;
}

a,
a:hover,
a:visited,
a:link,
a:focus,
a:active {
  color: @boulder;
  text-decoration: none;
  outline: 0;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

*[dir="ltr"] {
  direction: ltr;
  unicode-bidi: embed;
}

.text {
  &-center {
    text-align: center !important;

    &-last {
      text-align-last: center;
    }
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }

  &-justify {
    text-align: justify !important;
  }

  &-capitalize {
    text-transform: capitalize;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-lowercase {
    text-transform: lowercase;
  }

  &-success {
    color: @color-success !important;
  }

  &-warning {
    color: @color-warn !important;
  }

  &-danger {
    color: @color-error !important;
  }

  &-info {
    color: @color-info !important;
  }

  &-white {
    color: @white !important;
  }
}

.no-padding {
  padding: 0 !important;

  &-x {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &-y {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  &-t {
    padding-top: 0 !important;
  }

  &-b {
    padding-bottom: 0 !important;
  }

  &-l {
    padding-left: 0 !important;
  }

  &-r {
    padding-right: 0 !important;
  }
}

.no-margin {
  margin: 0 !important;

  &-x {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &-y {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  &-t {
    margin-top: 0 !important;
  }

  &-b {
    margin-bottom: 0 !important;
  }

  &-l {
    margin-left: 0 !important;
  }

  &-r {
    margin-right: 0 !important;
  }
}

.no-indent {
  margin-left: 0;
  margin-right: 0;
}

.relative {
  position: relative;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}
.w-30 {
  width: 30% !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-auto {
  height: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.mt {
  margin-top: @gutter !important;
  box-sizing: border-box;
}

.mt-2 {
  margin-top: @gutter * 2 !important;
  box-sizing: border-box;
}

.mt-3 {
  margin-top: @gutter * 3 !important;
  box-sizing: border-box;
}

.mt-4 {
  margin-top: @gutter * 4 !important;
  box-sizing: border-box;
}

.mb {
  margin-bottom: @gutter !important;
  box-sizing: border-box;
}

.mb-2 {
  margin-bottom: @gutter * 2 !important;
  box-sizing: border-box;
}

.ml {
  margin-left: @gutter !important;
  box-sizing: border-box;
}

.mr {
  margin-right: @gutter !important;
  box-sizing: border-box;
}

.mx {
  margin-left: @gutter !important;
  margin-right: @gutter !important;
  box-sizing: border-box;
}

.my {
  margin-top: @gutter !important;
  margin-bottom: @gutter !important;
  box-sizing: border-box;
}

.pt {
  padding-top: @gutter !important;
  box-sizing: border-box;
}

.pt-2 {
  padding-top: @gutter * 2 !important;
  box-sizing: border-box;
}

.pb {
  padding-bottom: @gutter !important;
  box-sizing: border-box;
}

.pl {
  padding-left: @gutter !important;
  box-sizing: border-box;
}

.pr {
  padding-right: @gutter !important;
  box-sizing: border-box;
}

.px {
  padding-left: @gutter !important;
  padding-right: @gutter !important;
  box-sizing: border-box;
}

.px-1 {
  padding-left: @gutter * 1 !important;
  padding-right: @gutter * 1 !important;
  box-sizing: border-box;
}

.px-3 {
  padding-left: @gutter * 3 !important;
  padding-right: @gutter * 3 !important;
  box-sizing: border-box;
}

.py {
  padding-top: @gutter !important;
  padding-bottom: @gutter !important;
  box-sizing: border-box;
}
.py-xs {
  padding-top: @xs-padding !important;
  padding-bottom: @xs-padding !important;
  box-sizing: border-box;
}
.pr-0 {
  padding-right: 0px !important;
  box-sizing: border-box;
}

.fs-10 {
  font-size: 1rem !important;
}
.fs-12 {
  font-size: 1.2rem !important;
}
.fs-14 {
  font-size: 1.4rem !important;
}
.fs-16 {
  font-size: 1.6rem !important;
}
.fs-18 {
  font-size: 1.8rem !important;
}

.fix-series {
  padding-left: 0;
  padding-right: @gutter;
}

.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  // word-break: break-all;
  // -ms-word-break: break-all;
  white-space: pre-wrap;
}

.bold {
  font-weight: bold;
}

.blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.d-flex {
  display: flex !important;
}
.d-none {
  display: none !important;
}

.b-none {
  background: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.justify-flex-end {
  justify-content: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.border-0 {
  border: 0 !important;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.cursor-p {
  cursor: pointer;
  outline: 0;
}

.bg-circle {
  padding: 1rem;
  border-radius: 6rem;
}
.direction-ltr {
  direction: ltr !important;
}
.direction-rtl {
  direction: rtl !important;
}
.direction-initial {
  direction: initial !important;
}
.flex-direction-reverse {
  flex-direction: row-reverse !important;
}
.flex-direction-unset {
  flex-direction: unset !important;
}
.flex-direction-column {
  flex-direction: column !important;
}
