<section class="container animated fadeIn">
    <breadcrumb title="لیست کتاب های من"></breadcrumb>
  
    <div class="row wall mb">
      <div class="col">
        <div class="table-wrapper" style="overflow: auto;">
          <table class="table">
            <thead>
              <th class="text-center cursor-p" rowspan="2">
                شناسه کتاب
              </th>
              <th class="text-center">
                نام کتاب
              </th>
              <th class="text-center">
               دسته بندی
              </th>
              <th class="text-center">
                نویسنده
              </th>
              <th class="text-center">
                ناشر
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of listBook; let i = index">
                <td class="text-center">
                  {{item.Id}}
                </td>
                <td title="{{item.name}}" class="text-center">
                  <!-- {{item.name}} -->
                  {{(item.name.length > 30) ? ( item.name | slice:0:30 ) + '...' : (item.name) }}

                </td>
                <td  class="text-center">
                  {{item.category}}
                </td>
                <td class="text-center">
                  {{item.writer}}
                </td>
                <td title="{{item.publisher}}" class="text-center">
                  {{(item.publisher.length > 20) ? ( item.publisher | slice:0:30 ) + '...' : (item.publisher) }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr [hidden]="listBook?.length">
                <td class="text-center" colspan="6">
                  <b>{{ "list-empty" | translate }}</b>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

  </section>
  