<div *ngIf="totalCount > 10" class="row no-gutters justify-content-center">
  <div class="col-auto order-md-1 order-sm-2">
    <div style="width: 9rem">
      <form
        (ngSubmit)="changePage(pageNumber.value)"
        class="input-group small"
        novalidate
      >
        <button class="input-group-addon input-group-btn" type="submit">
          {{ "pagination.go" | translate }}:
        </button>
        <input
          #pageNumber
          [max]="totalPages"
          [value]="currentPage"
          style="padding: 0"
          class="form-control text-center"
          min="1"
          name="pageNumber"
          type="number"
        />
      </form>
    </div>
  </div>
  <div class="col-auto order-md-1 order-sm-2" style="padding: 0 0.1rem">
    <div>
      <form class="input-group small">
        <button class="input-group-addon input-group-btn">
          {{ "pagination.perPage" | translate }}:
        </button>
        <select
          (change)="changePerPage($event.target.value)"
          class="form-control-perpage text-center"
          id="perPage"
          name="perPage"
        >
          <option
            *ngFor="let option of options"
            [id]="option.id"
            [value]="option.name"
            class="cursor-pointer form-control"
          >
            {{ option.name }}
          </option>
        </select>
      </form>
    </div>
  </div>

  <div class="col-auto order-md-2 order-sm-1">
    <button
      (click)="changePage(1)"
      [disabled]="currentPage == 1"
      class="btn btn-paginition"
    >
      {{ "pagination.first" | translate }}
    </button>
    <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage == 1"
      class="btn btn-paginition"
    >
      {{ "pagination.previous" | translate }}
    </button>
  </div>

  <div
    *ngIf="visibility"
    class="col-md-auto col-sm-hidden order-md-3 text-center"
  >
    <ng-container *ngFor="let page of pages">
      <button
        (click)="changePage(page)"
        [disabled]="page == currentPage"
        class="btn btn-paginition"
        type="button"
      >
        {{ page }}
      </button>
    </ng-container>
  </div>

  <div class="col-auto order-md-4 order-sm-3">
    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage == totalPages"
      class="btn btn-paginition"
      type="button"
    >
      {{ "pagination.next" | translate }}
    </button>
    <button
      (click)="changePage(totalPages)"
      [disabled]="currentPage == totalPages"
      class="btn btn-paginition"
      type="button"
    >
      {{ "pagination.last" | translate }}
    </button>
  </div>
</div>
