<div class="rtl" class="container-fluid no-padding-x h-100">
  <div class="row flex-nowrap no-gutters h-100">
    <div *ngIf="userService.isLoggedIn()" [class.visible]="sidebarVisibility" class="h-100" id="sidebar-container">
      <app-sidebar></app-sidebar>
    </div>
    <div [ngClass]="userService.isLoggedIn() ? 'col' : 'col-12'" class="h-100">
      <div class="row no-gutters flex-column h-100">
        <div  class="col-auto">
          <app-header (sidebarToggle)="sidebarToggle()" *ngIf="userService.isLoggedIn()"></app-header>
        </div>
        <main class="col">
          <router-outlet *ngIf="!loading"></router-outlet>
          <div *ngIf="loading" class="col-12">
            <div class="text-center">
              <img alt="loading ..." class="img-fluid img-thumbnail" src="statics/images/spinner-transparen.gif"
                   style="width: 300px;"/>
            </div>
          </div>
        </main>

      </div>
    </div>
    <!-- <div *ngIf="loading" class="col-12">
      <div class="text-center">
        <img
          class="img-fluid img-thumbnail"
          style="width: 300px;"
          src="static/images/spinner-transparen.gif"
          alt="loading ..."
        />
      </div>
    </div> -->
  </div>
</div>

<simple-notifications [options]="simpleNotificationsOptions"></simple-notifications>
