@font-face {
  font-family: 'iln';
  src:  url('fonts/iln.eot?4q08fw');
  src:  url('fonts/iln.eot?4q08fw#iefix') format('embedded-opentype'),
    url('fonts/iln.ttf?4q08fw') format('truetype'),
    url('fonts/iln.woff?4q08fw') format('woff'),
    url('fonts/iln.svg?4q08fw#iln') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iln' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iln-signal:before {
  content: "\e924";
}
.iln-technology:before {
  content: "\e92b";
}
.iln-danger:before {
  content: "\e92c";
}
.iln-profits:before {
  content: "\e92d";
}
.iln-iran:before {
  content: "\e92e";
}
.iln-map:before {
  content: "\e92f";
}
.iln-change:before {
  content: "\e925";
}
.iln-coins:before {
  content: "\e926";
}
.iln-notes:before {
  content: "\e927";
}
.iln-label:before {
  content: "\e928";
}
.iln-text:before {
  content: "\e929";
}
.iln-road-2:before {
  content: "\e930";
}
.iln-road:before {
  content: "\e909";
}
.iln-elevation:before {
  content: "\e922";
}
.iln-dashed-line:before {
  content: "\e923";
}
.iln-line:before {
  content: "\e91f";
}
.iln-cloud-download:before {
  content: "\e920";
}
.iln-download-button:before {
  content: "\e91d";
}
.iln-download-icon:before {
  content: "\e91e";
}
.iln-switch:before {
  content: "\e91b";
}
.iln-switch-user:before {
  content: "\e91c";
}
.iln-capture:before {
  content: "\e913";
}
.iln-circular-dots:before {
  content: "\e914";
}
.iln-expand:before {
  content: "\e92a";
}
.iln-fullscreen:before {
  content: "\e931";
}
.iln-covered-focus:before {
  content: "\e915";
}
.iln-focus:before {
  content: "\e916";
}
.iln-reticle:before {
  content: "\e917";
}
.iln-shape:before {
  content: "\e919";
}
.iln-statistics:before {
  content: "\e91a";
}
.iln-circular:before {
  content: "\e910";
}
.iln-network:before {
  content: "\e911";
}
.iln-share:before {
  content: "\e912";
}
.iln-tower-transmissions:before {
  content: "\e90f";
}
.iln-radio:before {
  content: "\e903";
}
.iln-target:before {
  content: "\e906";
}
.iln-frequency:before {
  content: "\e907";
}
.iln-store:before {
  content: "\e90b";
}
.iln-office:before {
  content: "\e918";
}
.iln-building:before {
  content: "\e921";
}
.iln-home:before {
  content: "\e908";
}
.iln-home-icon:before {
  content: "\e90a";
}
.iln-pin:before {
  content: "\e90c";
}
.iln-placeholder:before {
  content: "\e90d";
}
.iln-placeholder-filled-point:before {
  content: "\e90e";
}
.iln-ban:before {
  content: "\e900";
}
.iln-cross:before {
  content: "\e901";
}
.iln-man-user:before {
  content: "\e902";
}
.iln-new-user:before {
  content: "\e904";
}
.iln-users-group:before {
  content: "\e905";
}
