<section class="container animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <breadcrumb title="اطلاعات کاربری"></breadcrumb>
      <div
        class="row wall"
      >
        <!-- username -->
        <div class="col-12">
          <div
            class="form-group"
          >
            <label class="form-label" for="username"
              >{{ "auth.username" | translate }}:</label
            >
            <input
            disabled
              class="form-control"
              id="username"
              name="username"
              type="text"
              [(ngModel)]="userInfo.user.username"
            />
          </div>
        </div>
        <!-- Name -->
        <div class="col-12">
          <div class="form-group"
          >
            <label class="form-label" for="fullname"
              >{{ "auth.fullname" | translate }}:</label
            >
            <input
            [(ngModel)]="userInfo.user.fullname"
          disabled
              class="form-control"
              id="fullname"
              name="fullname"
              placeholder=""
              type="text"
            />
           
          </div>
        </div>
        <!-- Email -->
        <div class="col-12">
          <div class="form-group"
          >
            <label class="form-label" for="email"
              >{{ "auth.email" | translate }}:</label
            >
            <input
            [(ngModel)]="userInfo.user.email"
          disabled
              class="form-control"
              id="email"
              name="email"
              type="email"
            />
            
          </div>
        </div>
        <!-- Call -->
        <!-- <div class="col-12">
          <div class="form-group"
          >
            <label class="form-label" for="cellphone"
              >{{ "auth.call" | translate }}:</label
            >
            <input
              class="form-control"
              id="cellphone"
              name="cellphone"
              type="text"
            />
            
          </div>
        </div> -->

        <!-- Buttons -->
        <div class="col-12">
          <!-- <button
            [disabled]="form.invalid && formSubmitted"
            class="btn"
            type="submit"
          >
            {{ "forms.save" | translate }}
          </button> -->
          <button [routerLink]="['/books']" class="btn btn-danger" type="button">
            بازگشت
          </button>
        </div>
      </div>
      </div>
  </div>
</section>
