<form>
  <div class="row wall mb mt">
    <div class="col-lg-12">
      <div class="title">تحویل کتاب</div>
    </div>
    <div class="col-lg-6">
      <div
        class="row form-group required"
      >
        <label class="col-lg-12 form-label-inline" for="name"
        >نام کاربری عضو کتابخانه :</label
        >
        <div class="col-lg-12">
          <input
          type="text"
          class="form-control"
          id="summery"
          [(ngModel)]="username"
          [ngModelOptions]="{standalone: true}"
        />
        </div>
      </div>
    </div>
    <div class="col-lg-2" style="padding-top: 4rem;">
      <button (click)="getUserInfo()" class="btn btn-sm btn-primary">
          <span class="bold" style="padding: 0 3rem">جستجو</span>
      </button>
    </div>
    <div class="col-lg-4"></div>
  </div>
</form>

<ng-container *ngIf="this.userInfo">
  <section class="container animated fadeIn" >
    <div class="wall">
      <div class="row mb">
        <div class="col-lg-6 table-wrapper mb">
          <div class="">
            <div class="title">
              مشخصات کاربر
            </div>
            <table class="table">
              <td>
                <tr>
                  <th>شناسه کاربر :</th>
                  <td class="great">{{ userInfo?.Id }}</td>
                </tr>
                <tr>
                  <th>ایمیل کاربر :</th>
                  <td class="great">{{ userInfo?.email }}</td>
                </tr>
                <tr>
                  <th>نام و نام خانوادگی :</th>
                  <td class="great">{{ userInfo?.fullName }}</td>
                </tr>
                <tr style="border: none;">
                  <th>نام کاربری :</th>
                  <td class="great">{{ userInfo?.userName }}</td>
                </tr>
              </td>
            </table>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
  <section class="container animated fadeIn">
    <breadcrumb title="لیست کتاب های کاربر"></breadcrumb>
    <div class="row wall mb">
      <div class="col">
        <div class="table-wrapper" style="overflow: auto;">
          <table class="table">
            <thead>
              <th class="text-center cursor-p" rowspan="2">
                شناسه کتاب
              </th>
              <th class="text-center">
                نام کتاب
              </th>
              <th class="text-center">
               دسته بندی
              </th>
              <th class="text-center">
                نویسنده
              </th>
              <th class="text-center">
                ناشر
              </th>
              <th class="text-center">
                تحویل کتاب
              </th>
  
            </thead>
            <tbody>
              <tr *ngFor="let item of listBookUser; let i = index">
                <td class="text-center">
                  {{item.Id}}
                </td>
                <td title="{{item.name}}" class="text-center">
                  <!-- {{item.name}} -->
                  {{(item.name.length > 30) ? ( item.name | slice:0:30 ) + '...' : (item.name) }}
  
                </td>
                <td  class="text-center">
                  {{item.category}}
                </td>
                <td class="text-center">
                  {{item.writer}}
                </td>
                <td title="{{item.publisher}}" class="text-center">
                  {{(item.publisher.length > 20) ? ( item.publisher | slice:0:30 ) + '...' : (item.publisher) }}
                </td>
                <td (click)="giveBackBook(item)" class="text-center cursor-pointer">
                 <div class="icon icon-refresh"></div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr [hidden]="listBookUser?.length">
                <td class="text-center" colspan="6">
                  <b>{{ "list-empty" | translate }}</b>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </section>
</ng-container>