<aside class="row no-gutters flex-column h-100">
    <div class="col-auto">
        <a class="row no-gutters justify-content-center align-items-center flex-nowrap brand" target="blank">
            <div class="col text-center">
                <div class="logo">
                    <img src="./../../../statics/images/lybrary.svg" />
                </div>
            </div>
        </a>
    </div>
    <nav class="col">
        <ul class="col-md-hidden pb">
            <li>
                <a (click)="toggleGroup('user-profile')" [class.active]="activeGroup == 'user-profile'" class="cat-title">
                    <div class="icon icon-user"></div>
                    {{ userService.getUserName() }}
                </a>
                <div class="nav-sub">
                    <ul>
                        <li>
                            <a [routerLinkActive]="['active-route']" class="nav-title" routerLink="/auth/user/profile">
                                <div class="icon icon-user"></div>
                                {{ "auth.user-profile" | translate }}
                            </a>
                        </li>
                        <!-- <li>
                            <a [routerLinkActive]="['active-route']" class="nav-title" routerLink="/auth/password/reset">
                                <div class="icon icon-refresh"></div>
                                {{ "auth.reset-pass" | translate }}
                            </a>
                        </li> -->
                        <li>
                            <a (click)="logout($event)" class="nav-title" href="#">
                                <div class="icon icon-power-off"></div>
                                {{ "auth.logout" | translate }}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul *ngIf="isSuperAdmin">
            <li>
                <a (click)="toggleGroup('root')" [routerLinkActive]="['active-route']" class="nav-title" routerLink="/dashboard">
                    <div class="icon icon-file-text2"></div>
                    <span class="col-sm-auto col-md-hidden">لیست کتاب ها</span>
                </a>
            </li>
            <li>
                <a (click)="toggleGroup('root')" [routerLinkActive]="['active-route']" class="nav-title" routerLink="/loanBook">
                    <div class="icon icon-upload3"></div>
                    <span class="col-sm-auto col-md-hidden">امانت دادن کتاب</span>
                </a>
            </li>
            <li>
                <a (click)="toggleGroup('root')" [routerLinkActive]="['active-route']" class="nav-title" routerLink="/takeBack">
                    <div class="icon icon-box-add"></div>
                    <span class="col-sm-auto col-md-hidden">تحویل کتاب</span>
                </a>
            </li>
            <!-- <li>
                <a (click)="toggleGroup('root')" [routerLinkActive]="['active-route']" class="nav-title" routerLink="/car">
                    <div class="icon icon-refresh"></div>
                    <span class="col-sm-auto col-md-hidden">{{
            "sidebar.car" | translate
          }}</span>
                </a>
            </li> -->
        </ul>
        <ul *ngIf="!isSuperAdmin">
            <li>
                <a (click)="toggleGroup('root')" [routerLinkActive]="['active-route']" class="nav-title" routerLink="/books">
                    <div class="icon icon-file-text2"></div>
                    <span class="col-sm-auto col-md-hidden">لیست کتاب ها</span>
                </a>
            </li>
            <li>
                <a (click)="toggleGroup('root')" [routerLinkActive]="['active-route']" class="nav-title" routerLink="/myBooks">
                    <div class="icon icon-file-text2"></div>
                    <span class="col-sm-auto col-md-hidden">لیست کتاب های من</span>
                </a>
            </li>
            <!-- <li>
                <a (click)="toggleGroup('root')" [routerLinkActive]="['active-route']" class="nav-title" routerLink="/car">
                    <div class="icon icon-refresh"></div>
                    <span class="col-sm-auto col-md-hidden">{{
            "sidebar.car" | translate
          }}</span>
                </a>
            </li> -->
        </ul>
        <div class="mx my cursor-pointer" style="bottom: 0; position: absolute; width: 20%">
            <div>
                <ul>
                    <li>
                        <a *ngIf="currentLang == 'fa'" class="" style="text-align: end; text-overflow: unset">
                            <div (click)="sidebarToggle()" *ngIf="sidebarVisibility" class="icon icon-double-right"></div>
                            <div (click)="sidebarToggle()" *ngIf="!sidebarVisibility" class="icon icon-double-left"></div>
                        </a>
                        <a *ngIf="currentLang == 'en'" class="" style="text-align: end; text-overflow: unset">
                            <div (click)="sidebarToggle()" *ngIf="sidebarVisibility" class="icon icon-double-left"></div>
                            <div (click)="sidebarToggle()" *ngIf="!sidebarVisibility" class="icon icon-double-right"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</aside>