<div
  tabindex="0"
  [class]="inputFocused ? 'select-input-header-up' : 'select-input-header'"
  #toggleHeader
  (click)="onClickHeader($event)"
  (blur)="blured($event)"
>
  <span class="default-header">{{ defaults | translate }}</span>
</div>
<div class="pupop-content" *ngIf="inputFocused" #menu>
  <div *ngIf="searchable" class="check-list-select-field">
    <span class="icon-default">
      <img style="width: 1.2rem" src="/statics/images/search.svg" />
    </span>
    <input
      class="input-field"
      type="text"
      (input)="searchTerm($event)"
      (click)="onClickInput($event)"
      [(ngModel)]="inputValue"
    />
  </div>
  <ul class="select-list">
    <li class="check-list-group-actions">
      <a (click)="clearAllChecked($event)" class="link clear-all">{{
        "clear-all" | translate
      }}</a>
    </li>
    <ng-container *ngIf="multi && selectedList.length">
      <ng-container *ngFor="let item of selectedList">
        <li class="select-option">
          <div class="checkbox item-label">
            <label [attr.for]="item.id">
              <span class="col-lg-6">
                {{ item.name | summery: 30 }}
              </span>
            </label>
            <input
              type="checkbox"
              (click)="checkItem(item, item.checked ? false : true)"
              [id]="item.id"
              [name]="item.id"
              [(ngModel)]="item.checked"
            />
          </div>
        </li>
      </ng-container>
      <hr />
    </ng-container>
    <ng-container *ngFor="let item of unselectedList; let index = index">
      <li class="select-option">
        <div class="checkbox item-label">
          <label [attr.for]="item.id">
            <span class="col-lg-6">
              {{ item.name | summery: 30 }}
            </span>
          </label>
          <input
            type="checkbox"
            (click)="checkItem(item, item.checked ? false : true)"
            [id]="item.id"
            [name]="item.id"
            [(ngModel)]="item.checked"
          />
        </div>
      </li>
    </ng-container>
    <li *ngIf="!unselectedList.length" class="select-option text-center">
      {{ "list-empty" | translate }}
    </li>
  </ul>
</div>
